/**
 * styles.css
 *
 * Computer Science 50
 * Problem Set 7
 *
 * Global CSS.
 */

.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


#middle .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto; 
    
    
    
}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller;

    /* surround with whitespace */
    margin: 20px;
}

/* styling for the table */

table{
    margin: 20px;
}

td{
    text-align: left;
}

tr.result_row:hover{
    color: #A41034;
}

#middle .link
{
    color: red;
    margin: auto;
}

#middle .link:hover
{
    background-color: yellow;
    color: black;
    text-decoration: none;
}

#names 
{
	margin: 0 auto;
}

.form-control{
	text-align: center;
}

h1{
	color: #A41034;
}

.boxed{
	background-color: #A41034;
	padding: 50px 0px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border: 8px solid black;
	border-radius: 9px;
}

.chat{
	display:inline-block;
	background-color: #A41034;
	padding: 20px 0px 0px 0px;
	width: 100%;
	border: 8px solid black;
	border-radius: 9px;
}

.radio-inline{
	color: white;
}


.post{
	width: 500px;
	margin: 20px auto; 
}

#past_posts{
	border: 8px solid black;
	outline: 5px solid #A41034;
	height: 500px;
	overflow: scroll;
}

.postp{
	text-align: left;
	margin-left: 10px;
	font-size: 18px;
	color: #A41034;
}

.post_message{
	text-align: left;
	margin: 10px 40px 10px 40px;
	font-size: 20px;
}

.post_break{
	border: 2px solid black;
}

.divider{
	display: flex;
}

.fixed{
	width: 400px;
}

.flexed{
	margin-left: 80px;
	margin-right: 50px;
	flex-grow: 1;
}

.message_title{
	font-weight: bold;
	color: #A41034;
	text-shadow: 1px 1px gray;
}

.like{
	margin-top: 10px;
	float:right;
	margin-right: 10px;
}

.like_num{
	float:right;
	margin-right: 5px;
	margin-top: 10px;
}

.ticker_container{
	width: 80%;
	height: 70px;
	margin-left: auto;
	margin-right: auto;

}

.ticker{
	float: left;
	width: 12.5%;
	height: 70px;
	border-top: 2px solid #A41034;
	border-bottom: 2px solid #A41034;
	border-right: 1px solid #A41034;
	border-left: 1px solid #A41034;
	
}

.ticker_sport{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
}

.ticker_break{
	margin-top: 0px;
	margin-bottom: 0px;
	border: 1px solid #A41034;
}

.ticker_team{
	text-align: left;
	margin-left: 2px;
	margin-top: 0px;	
	margin-bottom: 0px;
	font-size: 13px;
}

.ticker_score{
	float: right;
	margin-right: 4px;
}

.result_score{
	color: white;
	font-size: 14px;
}

.checkbox-inline{
	color: white;
}

#results{
	border: 5px solid #A41034;
	border-radius: 8px;
}

.table{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}


#shield1{
	float: left;
}

#shield2{
	float:right;
}

.nav_header{
	width: 500px;
	display: inline-block;
	height: 200px;
}

.title{
	text-align:center;
}

#top{
	margin: 0 auto;
	width: 600px;
}

